<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mongo News Scraper for -- The Atlantic, Tech Column</title>
</head>

<body>
    {{{ body }}}

    {{!--Scripts--}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css"
</body>

</html>